/**
 * @file embed.css
 * @description Styles for the Embed block
 * @version 1.0.0
 */

.embed {
  margin: var(--spacing-xl, 32px) 0;
}

.embed-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  border-radius: var(--size-radius-8, 8px);
}

.embed-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}


/* ============================================
   FIGMA-EXTRACTED ICON - Play button triangle
   ============================================ */
.embed-play-button {
  width: 17px;
  height: 30px;
  background-image: url('data:image/svg+xml;utf8,%3Csvg width='17' height='30' viewBox='0 0 17 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 30V0L17 15L0 30Z' fill='white'/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
}
